mixin sColorPic(data)
	// start sColorPic
	+b.SECTION.sColorPic.section.boot-inside.tabs-js#sColorPic&attributes(attributes)
		.container-xl
			+b.section-title
				h1 ИНТЕРАКТИВНЫЙ ПОДБОР ЦВЕТА ДОМА
			+e.img-box.mb-5
				+e.img
					img.base-img-js(loading='lazy' src="img/@2x/sColorPic-img.png" alt="")
				+sColorPicImg(1, 4)
				+sColorPicImg(2, 2)
				+sColorPicImg(3, 5)
				+sColorPicImg(4, 15)
			.row.gy-1.pb-2
				.col-sm
					.row.gy-3.pb-4
						+sColorPicTabsBtn('Водосток', 'active')
						+sColorPicTabsBtn('Доборы')
						+sColorPicTabsBtn('Кровля')
						+sColorPicTabsBtn('Фасад')
				.col-sm-auto.d-none.d-md-block
					+e.btn--download.download-btn-js(type="button") Скачать
			+e.tabs-wrap.tabs__wrap.mb-4
				+sColorPicTabsContent('active')
					+sColorPicRadio('sColorPic-1', "#2c362e", 'Водосток зеленый')(checked)
					+sColorPicRadio('sColorPic-1', "#3c322c", 'Водосток коричневый')
					+sColorPicRadio('sColorPic-1', "#442425", 'Водосток красный')
					+sColorPicRadio('sColorPic-1', "#282729", 'Водосток серый')
				+sColorPicTabsContent()
					+sColorPicRadio('sColorPic-2', "#77655d", 'Доборы коричневые')(checked)
					+sColorPicRadio('sColorPic-2', "#67696d", 'Доборы серые')
				+sColorPicTabsContent()
					+sColorPicRadio('sColorPic-3', "#451c1e", 'Кровля RAL 3005')(checked)
					+sColorPicRadio('sColorPic-3', "#0c3a60", 'Кровля RAL 5005')
					+sColorPicRadio('sColorPic-3', "#30373a", 'Кровля RAL 7024')
					+sColorPicRadio('sColorPic-3', "#282224", 'Кровля RAL 8017')
					+sColorPicRadio('sColorPic-3', "#213820", 'Кровля RR-11')
				+sColorPicTabsContent()
					+sColorPicRadio('sColorPic-4', "#fcf9e6", 'Фасад 2661')(checked)
					+sColorPicRadio('sColorPic-4', "#776f62", 'Фасад 2665')
					+sColorPicRadio('sColorPic-4', "#ac8b66", 'Фасад 2672')
					+sColorPicRadio('sColorPic-4', "#798474", 'Фасад 2680')

					+sColorPicRadio('sColorPic-4', "#7a8f92", 'Фасад 2684')
					+sColorPicRadio('sColorPic-4', "#868a7d", 'Фасад 2688')
					+sColorPicRadio('sColorPic-4', "#fcfcfc", 'Фасад белый')
					+sColorPicRadio('sColorPic-4', "#867d6f", 'Фасад Т3012')

					+sColorPicRadio('sColorPic-4', "#695247", 'Фасад Т3019')
					+sColorPicRadio('sColorPic-4', "#838472", 'Фасад Т3027')
					+sColorPicRadio('sColorPic-4', "#828a82", 'Фасад Т3031')

					+sColorPicRadio('sColorPic-4', "#9e9f90", 'Фасад Т3037')
					+sColorPicRadio('sColorPic-4', "#a69d7e", 'Фасад Т3041')
					+sColorPicRadio('sColorPic-4', "#51514f", 'Фасад Т3044')
			.d-md-none
				+e.btn--download.download-btn-js(type="button") Скачать
			//-h2 OutPut
			//-+e.img-box
				+e.img
					img.img-response(loading='lazy' src="img/@2x/sColorPic-img.png" alt="")
	// end sColorPic

mixin sColorPicTabsContent(addClasses)
	.tabs__content(class=addClasses)
		.row.gy-3
			block

mixin sColorPicRadio(GroupName, color, txt)
	+e.radio-col.col-4.col-md-2.col-xl-2
		+e.LABEL.radio.text-center
			input(type="radio" name=GroupName value=txt class="invisible img-radio-js")&attributes(attributes)
			span.circle(style=`background-color: ${color}`)
				img(loading="lazy" src="img/svg/check.svg" alt="")
			+e.r-txt=txt

mixin sColorPicTabsBtn(txt, addClasses)
	.col-6.col-sm-4.col-md-auto
		+e.btn--tabs.tabs__btn(class=addClasses)=txt

mixin sColorPicImg(modNum, imgAmount)
	+e.img--over.cp-img-js
		img.active(loading="lazy" src=`img/@2x/sColorPic-img-mod-${modNum}-1.png` alt="")
		-for(var i = 2; i <= imgAmount; i++)
			img(loading="lazy" src=`img/@2x/sColorPic-img-mod-${modNum}-${i}.png` alt="")
